body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  overflow-y: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 95%;
  background-color: #002D77;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: white;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.perfil-icon {
  width: 62px;
  height: 32px;
}

.layout {
  display: flex;
  margin-top: 80px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 345px;
  height: calc(100vh - 80px);
  background: #ffffff;
  padding-top: 40px;
  border-right: 1px solid #e0e0e0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #002D77;
}

.icon-wrapper {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  padding-left: 32px;
  width: 273px;
}

.nav-item.active {
  background: linear-gradient(to right, #FB6A00 0px, #FB6A00 72px, #002D77 72px);
  color: white;
}

.nav-item.active .label,
.nav-item.active img {
  color: white;
  filter: brightness(0) invert(1);
}

/* CONTEÚDO PRINCIPAL */
.main-upload {
  margin-left: 345px;
  padding: 32px;
  flex: 1;
  background-color: #F4F6FA;
}

.upload-title {
  font-size: 30px;
  font-weight: 700;
  color: #002D77;
  margin-bottom: 32px;
}

.upload-area {
  display: flex;
  gap: 40px;
}

/* ÁREA DE UPLOAD */
.upload-box {
  width: 343px;
  height: 419px;
  background: #FFFFFF;
  border: 2px dashed #1877F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 32px;
}

.upload-text {
  font-size: 20x;
  font-weight: 500;
  text-align: center;
  color: #002D77;
}

/* FORMULÁRIO */
.form-box {
  flex: 1;
}

.form-title {
  font-size: 30px;
  font-weight: 600;
  color: #002D77;
  margin-bottom: 32px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}

.form-group label {
  font-size: 20px;
  color: #002D77;
}

.form-group input,
textarea {
  background-color: #FFFFFF;
  border: 1px solid #CBD6E6;
  border-radius: 10px;
  padding: 0 16px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.form-group input {
  height: 40px;
  width: 615px;
}

textarea {
  width: 615px;
  height: 87px;
  padding-top: 10px;
  resize: none;
}

/* CAMPOS DE DATA */
.form-row {
  display: flex;
  gap: 35px;
}

.form-group.half input {
  width: 290px;
}

/* BOTÕES */
.footer-buttons {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancelar {
  font-size: 20px;
  font-weight: 500;
  color: #002D77;
  cursor: pointer;
}

.button-group {
  display: flex;
  gap: 10px;
}

.btn {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #7694B8;
  cursor: pointer;
}

.btn.sec {
  background-color: #FFFFFF;
  color: #002D77;
  width: 198px;
}

.btn.sec.wide {
  width: 245px;
}

.btn.primary {
  width: 202px;
  background-color: #FB6A00;
  color: #EBEFF7;
  border: none;
}
