.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 18vw;
  height: calc(100vh - 80px);
  background: #ffffff;
  padding-top: 40px;
  border-right: 1px solid #e0e0e0;
  z-index: 999;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  color: #002D77;
  transition: background 0.2s;
}

.icon-wrapper {
  width: 4vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper img {
  width: 1.8vw;
  height: 1.8vw;
  min-width: 20px;
  min-height: 20px;
}

.label {
  padding-left: 2vw;
  display: flex;
  align-items: center;
  width: calc(100% - 4vw);
}

/* ITEM ATIVO */
.nav-item.active {
  background: linear-gradient(to right, #FB6A00 0, #FB6A00 4vw, #002D77 4vw);
  color: white;
}

.nav-item.active .label {
  color: white;
}

.nav-item.active img {
  filter: brightness(0) invert(1);
}
