.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #002D77;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: white;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.perfil-icon {
  width: 62px;
  height: 32px;
}